<%- contentFor('body') %>

    <div class="row">
        <!-- left column -->
        <div class="col-auto col-12">
            <% if(alert.message !="" ) { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%= alert.message %>
                </div>
                <% } %>
        </div>

        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-lightblue">
                <div class="card-header">
                    <h3 class="card-title">
                        <%= title %>
                    </h3>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <form class="needs-validation" action="/user-edit/" method="POST" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" required=""
                                value="<%= (typeof data !=='undefined' ) ? data.username : '' %>" readonly>
                            <div class="invalid-feedback">
                                Input Username
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" required=""
                                value="<%= (typeof data !=='undefined' ) ? data.name : '' %>">
                            <div class="invalid-feedback">
                                Input Name
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required=""
                                value="<%= (typeof data !=='undefined' ) ? data.email : '' %>" readonly>
                            <div class="invalid-feedback">
                                Input Name
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required="" value="">
                            <div class="invalid-feedback">
                                Input Name
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Retype Password</label>
                            <input type="password" class="form-control" name="re_password" required="" value="">
                            <div class="invalid-feedback">
                                Input Name
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">
                            Update
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
    </div>